APP=LMS
ENV=dev
PORT=8000
LOG_LEVEL=INFO

EVENTS_PROVIDER_URL=http://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=replace-me

DATABASE_URL=postgresql+asyncpg://user:password@host:5432/dbname